.hero-container {
    background-image: url('./Static Content/bmw-m8.jpg');
    height: 600px;
    background-size: cover;

    .hero__title {
        font-size: 30px;
        font-weight: bold;
        color: white;
        max-width: 360px;
        padding-top: 100px;
        padding-left: 40px;
    }

    .hero__button {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 40px;
        background: transparent;
        border-radius: 30px;
        border-color: white;
        border-style: solid;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
}